body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

h1, h2, h3 {
  color: #444;
  text-transform: uppercase;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 0.5ex;
  z-index: -1;
}

#mid {
  background-color: #ffffff;
  max-width: 60em;
  margin: 0 auto 55 auto;
  padding: 20px;
}

pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  overflow: auto;
  max-width:600px;
}

.green {
  color: #fff;
  background-color: #1fb264;
}

.group0 {
  color: #fff;
  background-color: #c94c4c;
}

.group1 {
  background-color: #deeaee;
}

.group2 {
  background-color: #ffef96;
}

.group3 {
  color: #fff;
  background-color: #50394c;
}

.group4 {
  background-color: #86af49;
}

.group5 {
  color: #fff;
  background-color: #ff7525;
}

.group6 {
  background-color: #b9936c;
}

.group7 {
  background-color: #80ced6;
}

.history {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  display: block;
  padding: 0.5ex;
}

.collapsible {
  background-color: #ccc;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ddd;
}

/* Style the collapsible content. Note: hidden by default */
#history-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
