.progress {
  border: 7px solid #AAA;
  border-color: #AAA transparent #AAA transparent;
  border-radius: 50%;
  margin-right: 0.5em;
  width: 16px;
  height: 16px;
  animation: spin 1.2s linear infinite;
}

.progress-text {
  height: 30px;
  line-height: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  overflow: auto;
  max-width: 600px;
}

.snippet {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  width: 50em;
  white-space: pre;
  overflow-y: scroll;
  overflow-x: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 0.5ex;
}

.verbatim {
  font-family: monospace;
  font-weight: bold;
}

.stars {
  color: darkgreen;
}

.legend {
  margin-bottom: 1em;
}
