select {
  padding: 0.5em;
}

.text-input {
  padding: 0.5em;
}

.input-wrap {
  color: #15824B;
  margin-bottom: 1em;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.choose-file {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 6px #15824B;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.choose-file:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.choose-file:active {
  box-shadow: 0 2px #15824B;
  transform: translateY(4px);
  transition: all .1s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.file-dropping,
.file-upload-wrap:hover {
  background-color: #5FD294;
  border: 4px dashed #ffffff;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.upload-button {
  width: 100%;
  margin: 0;
  margin-top: 1em;
  color: #fff;
  background: #cd4535;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 6px #b02818;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.upload-button:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .025s ease;
  cursor: pointer;
}

.upload-button:active {
  box-shadow: 0 2px #b02818;
  transform: translateY(4px);
  transition: all .025s ease;
}
